$brand-color:         #010100;
$highlight:           lighten($brand-color, 35%);
$text-color:          #ffffff;
$muted-text-color:    #64644B;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$deep-blue:           #000080;
$dark-gray:           #333333;
$cyber-green:         #00FF00;
$dark-red:            #8B0000;
$silver:              #C0C0C0;
$orange:              #FFA500;
$steel-blue:          #4682B4;
$charcoal:            #36454F;
$teal:                #008080;
