$brand-color:         #2E4053; // Dark slate blue
$highlight:           #66CDAA; // Medium aquamarine
$text-color:          #ffffff; // White
$muted-text-color:    #BDC3C7; // Silver
$font-family:         "Roboto", Arial, sans-serif; // Stylish font

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;